<ion-view view-title="Sign-In">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input id = 'emailText' type="text" placeholder="Email" ng-model="data.email">
            </label>
            <label class="item item-input">
                <input id ='passwordText' type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-positive"  ng-click="login(data)">Login</button>
        <button class="button button-block button-positive" ng-click="fbLogin()">Login with Facebook</button>
        <p class="text-center">
            <a href="#/tab/signup">Sign Up</a>
        </p><br>
    </ion-content>
</ion-view>
